@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$primary-color: #3C91E6;
$text-color: #363537;

body {
    padding: 0;
    margin: 0;
}

.page_header {
    background-color: $primary-color;
    padding-bottom: 10vh;
    padding-top: 3vh;

    & h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        text-align: center;
        color: white;
        margin: 0;
    }
}

.converter {
    width: 80vw;
    height: 60vh;
    margin: -8vh 0 0 10vw;
    border-radius: 10px;
    box-shadow: 0 0 10px #BDBDBD;
    background-color: white;

    &__header {
        height: 13%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: none none solid none;
        border-width: 2px;
        border-color: #E0E0E0;

        & div {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

        &__title {
            width: 48%;
        }

        &__arrow {
            width: 4%;

            & img {
                height: 30%;
                ;
            }
        }

        & #input {
            color: $primary-color;
        }

        & #output {
            color: $text-color;
        }
    }

    &__container {
        height: 87%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        & div {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__input {
            & input {
                width: 90%;
                height: 90%;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                text-align: center;
                font-size: 18px;
            }
        }

        &__output {
            background-color: #F2F2F2;

            & p {
                width: 90%;
                height: 90%;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
            }
        }
    }
}

.btn_container {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        background-color: $primary-color;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        border-radius: 4px;
        font-size: 18px;
    }
}